
      #tit
        {
          font-weight: 1000;
          font-size: 40px;
          font-family: Copperplate Gothic Light, sans-serif;
          text-align: center;
        }
              
      #logo{
          float:left;
            }
      #tit1{
          margin-top: 80px;
           }
      #reg{
          float: right;
          margin-top: 1px;
          display: inline;
          padding-bottom: 30px;
       
          }
          

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black; 
    }

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #d52727;
    background-color: #e2af3c;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active {
    background-color: #7A991A;
}


#ubun{

float: left;

}
#g1
{
  text-shadow:#ff0000;
}